@tailwind base;
@tailwind components;
@tailwind utilities;
@layer{
    *{
        @apply m-0 p-0 box-border;
    }
    body{
        @apply font-inter;
    }
    p{
        @apply text-black-300;
    }
    svg{
        @apply flex-none;
    }
        nav>ul>li {
            @apply transition-colors duration-500 ease-in-out hover:lg:text-blue lg:py-[34px] py-0 xl:px-4 lg:px-3 px-0;
        }
         
        nav.mega-menu li {
            @apply hover:lg:!text-blue lg:!text-black !text-white hover:!text-pink-100 !px-0 !py-0;
        }
  
        nav ul li a:hover svg path {
           @apply lg:fill-blue;
            }
    /* .card-carousel .owl-stage-outer{
        @apply pt-5 pb-5;
    }
    .card-carousel .owl-nav{
        @apply absolute md:top-[-150px] top-[-45px] md:right-[20px] right-[10px] flex;
    }
    .card-carousel .owl-nav .owl-prev{
        @apply w-[48px] h-[48px] relative flex justify-center items-center;
    }
    .card-carousel .owl-nav .owl-next{
        @apply w-[48px] h-[48px] relative flex justify-center items-center;
    }
    .card-carousel .owl-nav .owl-prev span{
        @apply block w-[32px] h-[32px] text-[0] relative before:content-[''] before:bg-prev_left before:bg-cover before:bg-center before:bg-no-repeat before:w-[32px] before:h-[32px] before:absolute before:top-0 before:left-0;
    }
    .card-carousel .owl-nav .owl-next span{
        @apply block text-[0] w-[32px] h-[32px] relative before:content-[''] before:bg-next_arrow before:bg-cover before:bg-center before:bg-no-repeat before:w-[32px] before:h-[32px] before:absolute before:top-0 before:right-0;
    }
    .owl-carousel .owl-dots .owl-dot.active span, .owl-carousel .owl-dots .owl-dot:hover span{
        @apply !bg-pink;
    } */
 .swiper-slide{
    @apply !h-auto
 }
 .swiper-pagination-bullet-active {
    @apply !bg-pink;
}
.price-list li.not-active{
    @apply relative before:content-[''] before:w-[18px] before:h-[18px] before:bg-notactive_svg before:bg-contain before:bg-center before:bg-no-repeat before:absolute before:top-[2px] before:left-[10px] -translate-x-[50%]
}
.price-list li.close{
    @apply relative before:content-[''] before:w-[18px] before:h-[18px] before:bg-close_svg before:bg-contain before:bg-center before:bg-no-repeat before:absolute before:top-[2px] before:left-[10px] -translate-x-[50%]
}
.price-list li.active{
    @apply relative before:content-[''] before:w-[18px] before:h-[18px] before:bg-tick_green before:bg-contain before:bg-center before:bg-no-repeat before:absolute before:top-[2px] before:left-[10px] -translate-x-[50%]
}
}
@layer components{
    .btn-link{
      @apply *:text-[18px] block text-black px-4 border-black border-solid  hover:border-green transition-all duration-300 ease-in-out font-medium font-overpass border-2  py-2 w-fit cursor-pointer
    }
   
    .btn-green{
        @apply *:text-[18px] text-black border-2 border-solid border-green bg-green hover:bg-transparent transition-all duration-300 ease-in-out font-overpass font-medium px-4 py-2 w-fit cursor-pointer
    } 
    
  }
  @layer utilities{
    .path-animation {
      strokeDasharray: 500;
        strokeDashoffset: 500;
        animation: drawPath 3s ease forwards infinite;
        -webkit-animation: drawPath 3s ease forwards infinite;
    }
    
      @keyframes drawPath {
        to {
          strokeDashoffset: 0;
        }
      }
        
  }
